.ButtonContainer {
  display: inline-block;
}

.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.primary {
  border: none;
  background-color: #a3e5da;
}

.primary:hover {
  background-color: #cbebe6;
}

.primary:focus {
  outline: 2px solid #a3e5da;
  outline-offset: 2px;
}

.secondary {
  border: none;
  background-color: transparent;
  color: #a3e5da;
  box-shadow: inset 0 0 0 1px #a3e5da;
}

.secondary:hover {
  background-color: #a3e5da;
  color: #090821;
}

.secondary:focus {
  background-color: #a3e5da;
  color: #090821;
  outline: 2px solid #a3e5da;
  outline-offset: 2px;
}